.group
  =f.label :_type
  =f.error_message_on :_type
  =f.text_field :_type, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :_id
  =f.error_message_on :_id
  =f.text_field :_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :slug
  =f.error_message_on :slug
  =f.text_field :slug, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :image
  =f.error_message_on :image
  =f.text_field :image, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:memes, :index)}';return false", :class => :button
