-# -*- encoding : utf-8 -*-
-content_for :other_css do
  =stylesheet_link_tag '/javascripts/fancybox/jquery.fancybox-1.3.4.css'

-content_for :other_js do
  =javascript_include_tag '/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js'
  :javascript
    $(document).ready(function() { $('a#img').fancybox() })

-#---------------------------------------------------------------------------------------------------

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:memes, :index)
      %li=link_to pat(:new), url(:memes, :new)
      %li.active=link_to pat(:edit), url(:memes, :edit, :id => @meme.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:meme)
    .inner
      -form_for :meme, url(:memes, :update, :id => @meme.id), :method => :put, :class => :form, :enctype => "multipart/form-data"  do |f|
        =partial "memes/form", :locals => { :f => f }

      %a#img{:href => Memelinks.url(:meme, :image, :filename => @meme.filename)}=image_tag '/'+@meme.filename

-content_for :sidebar, partial("base/sidebar")
