.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:memes, :index)
      %li.active=link_to pat(:new), url(:memes, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:meme)
    .inner
      -form_for :meme, url(:memes, :create), :class => :form do |f|
        =partial "memes/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
