-# -*- encoding : utf-8 -*-
-content_for :subtitle do
  -if request.path.start_with? url(:meme, :search)
    Busca de memes
  -elsif request.path.start_with? url(:meme, :all)
    Todos os memes
  -else
    Os memes mais vistos

-partial 'layouts/fb_meta', :locals => {:title => 'MemeLinks.com', :type => :website}

-#---------------------------------------------------------------------------------------------------

-unless @message.nil?
  #messages
    .message=@message

#memes
  -@memes.each do |meme|
    -img_url, show_url = url(:meme, :image, :filename => meme.filename), url(:meme, :show, :slug => meme.slug)
    .meme
      .heading
        %h3=link_to meme.name, show_url
        %a.link{ :href => img_url, 'data-short-href' => request.host+img_url }='http://'+request.host+img_url
      %a.meme{ :href => img_url+'?y', :title => meme.name }=image_tag img_url
