-# -*- encoding : utf-8 -*-
-content_for :subtitle do
  -if request.path.start_with? url(:meme, :search)
    Busca de memes
  -elsif request.path.start_with? url(:meme, :all)
    Todos os memes
  -else
    Os memes mais vistos

-partial 'layouts/fb_meta', :locals => { :title => 'MemeLinks.com', :type => :website, :locale => :pt_BR, :description => 'Um banco de memes pra você copiar o link e colar no Facebook. Muito mais fácil do que usar o Google Imagens pra buscar ~aquele~ meme pra zuar o post do seu amigo!' }

-#---------------------------------------------------------------------------------------------------

-unless @message.nil?
  #messages
    .message=@message

#memes
  -@memes.each do |meme|
    -img_url, show_url = url(:meme, :image, :filename => meme.filename), url(:meme, :show, :slug => meme.slug)
    .meme
      .heading
        %h3=link_to meme.name, show_url
        %a.link{ :href => img_url, 'data-short-href' => request.host+img_url }='http://'+request.host+img_url
      %a.meme{ :href => img_url+'?y', :title => meme.name }=image_tag img_url

.ad-footer
  =partial 'layouts/ads/adsense', :locals => {:slot => '8070238971', :height => 15}