-# -*- encoding : utf-8 -*-
-img_url = url(:meme, :image, :filename => @meme.filename)

-content_for :subtitle do
  ='Meme Card - '+@meme.name

-partial 'layouts/fb_meta', :locals => {:image => 'http://'+request.host+img_url, :title => @meme.name+' [MemeLinks]'}

#meme
  .heading
    %h3=@meme.name
  .main-box
    =image_tag img_url+'?y'
    .share
      %div{:class => 'fb-like', :data => {:href => 'http://www.memelinks.com', :send => :true, :layout => :box_count, :width => 100, 'show-faces' => :true, :font => :arial}}

  -if @meme.keywords.length > 0
    #keywords
      %h4='Tag'+(@meme.keywords.length > 1? 's' : '')
      %ul
        -@meme.keywords.each do |word|
          %li
            %a{:href => url(:meme, :search, :q => word)}=word
