-# -*- encoding : utf-8 -*-
-content_for :other_css do
  -stylesheet_link_tag '/stylesheets/admin/statistics', '/stylesheets/jquery.jqplot.min'

#block-text.block
  .content
    %h2.title Last statistics
    .inner
      -days = ['29/04','30/04','01/05']
      -visits = {:total => [207,254,42], :uniq => [202,253,40], :new => [193,243,38], :actions => [327,371,63]}
      -visits_graph, i = [], 0
      -visits.each do |name, values|
        -visits_graph[i], v = [], 0
        -values.each {|n| visits_graph[i] << [v, n]; v+=1 }
        -i+=1
      #visits.stats-block
        %h3 Visits/day
        %table
          %thead
            %tr
              %th Day
              %th Visits
              %th Uniq
              %th New
              %th Actions
          %tbody
            -visits[:total].length.times do |d|
              -d -=1
              %tr
                %th=days[d]
                %td=visits[:total][d]
                %td=visits[:uniq][d]
                %td=visits[:new][d]
                %td=visits[:actions][d]
        #graph-1.graph

      -countries = {'Brasil' => 120, 'Canada' => 10, 'Portugal' => 10, 'UK' => 6, 'Germany' => 5}
      .stats-block
        %h3 Most active countries
        -countries_graph, countries_label, i = [], [], 0
        -countries.each do |country,visits|
          -#i+=1
          -countries_label << country
          -countries_graph << visits
        -countries_graph.reverse!
        -countries_label.reverse!
        #graph-2.graph

      %br{:style => 'clear:both'}

-content_for :other_js do
  /[if lt IE 9]
    =javascript_include_tag '/javascripts/jqplot/excanvas'
  =javascript_include_tag '/javascripts/jqplot/jquery.jqplot.min', '/javascripts/jqplot/plugins/jqplot.barRenderer.min', '/javascripts/jqplot/plugins/jqplot.pointLabels.min', '/javascripts/jqplot/plugins/jqplot.categoryAxisRenderer.min', '/javascripts/jqplot/plugins/jqplot.canvasTextRenderer.min', '/javascripts/jqplot/plugins/jqplot.canvasAxisTickRenderer.min'

  %script{:type => 'text/javascript'}
    countries_label = #{countries_label}

  :javascript
    $.jqplot('graph-1', #{visits_graph})
    $.jqplot('graph-2', [#{countries_graph}], {
      seriesDefaults: {
        renderer: $.jqplot.BarRenderer,
        pointLabels: { show: true, location: 'n', edgeTolerance: -15 },
        shadowAngle: 135,
        rendererOptions: {
          //barDirection: 'horizontal',
          varyBarColor: true
        }
      },
      series: countries_label,
      axes: {
          xaxis: {
              renderer: $.jqplot.CategoryAxisRenderer,
              ticks: countries_label,
              tickRenderer: $.jqplot.​CanvasAxisTickRenderer,
              tickOptions: {angle: -30}
          },
      }
    })