-# -*- encoding : utf-8 -*-
-content_for :other_css do
  -stylesheet_link_tag '/stylesheets/admin/statistics', '/stylesheets/jquery.jqplot.min'

#block-text.block
  .content
    %h2.title Last statistics
    .inner
      #visits.stats-block
        %h3 Visits/day
        %table
          %thead
            %tr
              %th Day
              %th Visits
              %th Uniq
              %th New
              %th Actions
          %tbody
            -columns = [:visitors, :visitors_unique, :visitors_new, :actions]
            -visits_graph, d = [], 0
            -@visits.each do |date, numbers|
              %tr
                %th=date
                -c = 0
                -columns.each do |column|
                  -visits_graph[c] = [] if visits_graph[c].nil?
                  -visits_graph[c] << [ d, numbers[column] ]
                  %td=numbers[column]
                  -c+=1
                -d+=1
        #graph-1.graph

      .stats-block
        %h3 Most active countries
        -countries_graph, countries_label, i = [], [], @countries.length+1
        -@countries.each do |country,visits|
          -i-=1
          -countries_label << country
          -countries_graph << [visits,i]
        -countries_label.reverse!
        #graph-2.graph

      %br{:style => 'clear:both'}

-content_for :other_js do
  /[if lt IE 9]
    =javascript_include_tag '/javascripts/jqplot/excanvas'
  =javascript_include_tag '/javascripts/jqplot/jquery.jqplot.min', '/javascripts/jqplot/plugins/jqplot.barRenderer.min', '/javascripts/jqplot/plugins/jqplot.pointLabels.min', '/javascripts/jqplot/plugins/jqplot.categoryAxisRenderer.min', '/javascripts/jqplot/plugins/jqplot.canvasTextRenderer.min', '/javascripts/jqplot/plugins/jqplot.canvasAxisTickRenderer.min'

  %script{:type => 'text/javascript'}
    countries_label = #{countries_label}

  :javascript
    $.jqplot('graph-1', #{visits_graph})
    $.jqplot('graph-2', [#{countries_graph}], {
      seriesDefaults: {
        renderer: $.jqplot.BarRenderer,
        pointLabels: { show: true, location: 'n', edgeTolerance: -15 },
        shadowAngle: 135,
        rendererOptions: {
          barDirection: 'horizontal',
          varyBarColor: true
        }
      },
      series: countries_label,
      axes: {
          yaxis: {
              renderer: $.jqplot.CategoryAxisRenderer,
              ticks: countries_label,
              tickRenderer: $.jqplot.​CanvasAxisTickRenderer
          },
      }
    })