-# -*- encoding : utf-8 -*-
%p Falae!

%p
  Tem meme novo sendo sugerido. Vai lá no Admin dar uma olhada!
  %br
  %strong Meme:
  %a{:href => url+Admin.url(:memes, :edit, :id => meme.id)}='"'+meme.name+'"'

%p Att,<br />MemeBot