-content_for :subtitle do 'Todos os Memes' end

-content_for :other_css do
  =stylesheet_link_tag '/javascripts/fancybox/jquery.fancybox-1.3.4.css'

-content_for :important_js do
  =javascript_include_tag '/javascripts/fancybox/jquery.mousewheel-3.0.4.pack.js'
  =javascript_include_tag '/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js'
  :javascript
    $(document).ready(function() {
      $('a.meme').fancybox({
       'titlePosition': 'inside',
       'transitionIn': 'elastic',
       'transitionOut': 'elastic',
       'overlayShow': true,
       'opacity': true,
       'titleFormat': function(title) { return '<h3>'+title+'</h3>'; }
      })
    })

-#---------------------------------------------------------------------------------------------------

#memes
  -@memes.each do |meme|
    -img_url, show_url = url(:meme, :image, :filename => meme.filename), url(:meme, :show, :slug => meme.slug)
    .meme
      .heading
        %h3=link_to meme.name, show_url
        %a{ :href => img_url }='http://'+request.host+img_url
      %a.meme{ :href => img_url, :title => meme.name }=image_tag img_url