-content_for :subtitle do 'Listagem de Memes' end

%table#memes
  -@memes.each do |meme|
    -img_url, show_url = url(:meme, :image, :filename => meme.filename), url(:meme, :show, :slug => meme.slug)
    %tr
      %td
        %h3=link_to meme.name, img_url
        %a{ :href => show_url }='http://'+request.host+img_url
        %a.meme{ :href => show_url }=image_tag img_url