h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none; }

table#memes {
  width: 400px;
  margin: 0px auto;
  border-collapse: collapse; }
  table#memes td {
    text-align: center;
    border: 1px solid #cccccc; }
    table#memes td h3 {
      margin-bottom: 0px;
      font-size: 2em; }
    table#memes td img {
      max-width: 95%;
      max-height: 400px;
      margin: 10px auto 5px auto;
      display: block; }
