@font-face
  font-family: 'Lilita One'
  font-style: normal
  font-weight: 400
  src: local('/stylesheets/Lilita One'), local('/stylesheets/LilitaOne'), url('/stylesheets/LilitaOne.woff') format('woff')