-content_for :content do
  #main
    =yield
    #footer
      .block
        %p
          Copyright &copy;
          =Time.now.year
          MemeLinks -
          =link_to "Padrino v.#{Padrino.version}", "http://padrino.github.com", :target => :_blank
  #sidebar=yield_content :sidebar

=render_partial 'layouts/header_nav'