:ruby
  content_for :other_meta do
    metas = ''
    { :type => :website,
      :site_name => 'MemeLinks.com',
      :url => request.url,
      :admins => 1081773001,
      :image => image ||= "http://#{request.host}/logo-128.gif",
      :title => title ||= 'MemeLinks.com',
    }.each do |prop,content|
      property = (prop == :admins)? 'fb:'+prop.to_s : 'og:'+prop.to_s
      metas += "<meta property=\"#{property}\" content=\"#{content}\" />\n"
    end
    metas
  end