!!! Strict
%html{:lang => "pt", :xmlns => "http://www.w3.org/1999/xhtml"}

  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title MemeLinks - Encontre a imagem e o link do seu meme e use nas redes sociais
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    =stylesheet_link_tag :ie, :screen, :main
    =stylesheet_link_tag :print, :media => :print
    =yield_content :other_css
    =javascript_include_tag '/javascripts/jquery'
    =yield_content :important_js

  %body
    #header
      %h1 MemeLinks.com
      %h2=yield_content :subtitle

    #content
      =yield

    =javascript_include_tag '/javascripts/jquery-ujs'
    =yield_content :other_js
    =render_partial 'base/getclicky'