-# -*- encoding : utf-8 -*-
-subtitle = (yield_content(:subtitle) || '').strip
-title = 'MemeLinks ['+(subtitle.empty?? 'Encontre a imagem e o link do seu meme e use nas redes sociais' : subtitle)+']'

!!! Strict
%html{:lang => 'pt', :xmlns => 'http://www.w3.org/1999/xhtml'}

  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %title=title
    %meta{:name => :viewport, :content => 'width=device-width, initial-scale=1'}
    =stylesheet_link_tag :ie, :screen, :main
    =stylesheet_link_tag :print, :media => :print
    =stylesheet_link_tag '/javascripts/fancybox/jquery.fancybox-1.3.4.css'
    =yield_content :other_css
    =javascript_include_tag '/javascripts/jquery'
    =yield_content :important_js
    %meta{:name => :author, :content => 'Igor Santos (igorsantos07)'}
    %meta{:name => :copyright, :content => "© 2012-#{Time.new.year} Igor Santos (igorsantos07)"}
    %meta{:name => :robots, :content => :follow}
    %meta{:name => 'content-language', :content => 'pt-br'}
    =yield_content :other_meta

  %body
    -# Facebook JS SDK
    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    #header-container
      #header
        %h1
          %a{:href=>'/'}
            MemeLinks
            %br
            %span=".com"
        %h2=subtitle
        %form#search{:action => url(:meme, :search), :method => :get}
          =text_field_tag :q, :value => params[:q]
          %img{:src => '/images/search-button.gif', :alt => :Buscar, :onclick => '$("form#search").submit()'}

    #navbar
      =link_to 'Home', '/'
      =link_to 'Todos os memes', url(:meme, :all)
      =link_to 'Sobre', url(:main, :about)
      =link_to 'Sugira um!', url(:meme, :suggest), :class => :inverse

    #content
      #flash-messages
        .flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
      =yield

    =javascript_include_tag '/javascripts/fancybox/jquery.mousewheel-3.0.4.pack'
    =javascript_include_tag '/javascripts/fancybox/jquery.fancybox-1.3.4.pack'
    =javascript_include_tag '/javascripts/application'
    -#=javascript_include_tag '/javascripts/jquery-ujs'
    =yield_content :other_js
    =render_partial 'layouts/getclicky'
